<footer class="text-center text-lg-start" style="background-color: rgba(205,202,202,0.8);">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-8 col-md-12 mt-4 mb-md-0">
        <a routerLink=""><img src="https://github.com/user-attachments/assets/74a33fc8-b4df-4d30-a80a-f705c6e7a987" class="w-10" /></a>

        <p class="mt-4">
          CaseTools.lk is offered by Igenuma (Pvt) Ltd., based on Colombo, Sri Lanka.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-1 col-md-6 mt-4 mb-md-0">

        <ul class="list-unstyled">
          <li routerLinkActive="active">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li routerLinkActive="active">
            <a class="nav-link" routerLink="/services">Services</a>
          </li>
          <li routerLinkActive="active">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li routerLinkActive="active">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2025 Igenuma (Pvt) Ltd.
  </div>
</footer>

<router-outlet></router-outlet>
