<app-hero></app-hero>
<div class="row m-4">
  <div class="col-md-4 mb-4"><app-featurecard></app-featurecard></div>
  <div class="col-md-4 mb-4"><app-featurecard></app-featurecard></div>
  <div class="col-md-4 mb-4"><app-featurecard></app-featurecard></div>
  <div class="col-md-4 mb-4"><app-featurecard></app-featurecard></div>
  <div class="col-md-4 mb-4"><app-featurecard></app-featurecard></div>
  <div class="col-md-4 mb-4"><app-featurecard></app-featurecard></div>
</div>
<app-footer></app-footer>
