<app-hero></app-hero>
<div class="row m-4">
  <div class="col-md-4 mb-4">
    <app-featurecard
      [title]="'Business Process Analysis with Activity Diagrams'"
      [imageUrl]="'https://media.istockphoto.com/id/539953552/photo/business-process-and-workflow-automation-with-flowchart-businessman-in-background.jpg?s=612x612&w=0&k=20&c=Cntl_4mwDuT87AoY9cjqJymDK2YnmD6Vw78iy_lhM5U='"
      [description]="'Visualize workflows for better understanding and Identify bottlenecks and optimize processes'">
    </app-featurecard>
  </div>

  <div class="col-md-4 mb-4">
    <app-featurecard
      [title]="'Database Design Simplified with ER Modeling'"
      [imageUrl]="'https://media.istockphoto.com/id/539953552/photo/business-process-and-workflow-automation-with-flowchart-businessman-in-background.jpg?s=612x612&w=0&k=20&c=Cntl_4mwDuT87AoY9cjqJymDK2YnmD6Vw78iy_lhM5U='"
      [description]="'Define entities, attributes, and relationships with efficient and scalable database design'">
    </app-featurecard>
  </div>

  <div class="col-md-4 mb-4">
    <app-featurecard
      [title]="'System Modeling with UML Diagrams'"
      [imageUrl]="'https://media.istockphoto.com/id/539953552/photo/business-process-and-workflow-automation-with-flowchart-businessman-in-background.jpg?s=612x612&w=0&k=20&c=Cntl_4mwDuT87AoY9cjqJymDK2YnmD6Vw78iy_lhM5U='"
      [description]="'Use UML diagrams such as Use Case, Class, and Sequence diagrams and Standardize system design for better clarity and structure'">
    </app-featurecard>
  </div>

  <div class="col-md-4 mb-4">
    <app-featurecard
      [title]="'Automated Code Generation'"
      [imageUrl]="'https://media.istockphoto.com/id/539953552/photo/business-process-and-workflow-automation-with-flowchart-businessman-in-background.jpg?s=612x612&w=0&k=20&c=Cntl_4mwDuT87AoY9cjqJymDK2YnmD6Vw78iy_lhM5U='"
      [description]="'Convert models into working code automatically while minimizing coding errors and reduce manual effort'">
    </app-featurecard>
  </div>

  <div class="col-md-4 mb-4">
    <app-featurecard
      [title]="'Software Requirement Specification (SRS) Documentation'"
      [imageUrl]="'https://media.istockphoto.com/id/539953552/photo/business-process-and-workflow-automation-with-flowchart-businessman-in-background.jpg?s=612x612&w=0&k=20&c=Cntl_4mwDuT87AoY9cjqJymDK2YnmD6Vw78iy_lhM5U='"
      [description]="'Create structured and detailed requirements and Improve communication between stakeholders'">
    </app-featurecard>
  </div>

  <div class="col-md-4 mb-4">
    <app-featurecard
      [title]="'Business Rule Validation & Decision Modeling'"
      [imageUrl]="'https://media.istockphoto.com/id/539953552/photo/business-process-and-workflow-automation-with-flowchart-businessman-in-background.jpg?s=612x612&w=0&k=20&c=Cntl_4mwDuT87AoY9cjqJymDK2YnmD6Vw78iy_lhM5U='"
      [description]="'Define business rules using Decision Tables & BPMN and Ensure accuracy in business logic execution'">
    </app-featurecard>
  </div>
</div>
<div class="m-4 p-2">
  <app-quiz></app-quiz>
</div>
<app-footer></app-footer>










