<div class="container col-xxl-8 p-4">
  <div class="row flex-lg-row align-items-center justify-content-center g-5 py-5">
    <div class="col-10 col-sm-1 col-lg-6">
      <img src="https://img.freepik.com/free-vector/programmer-concept-illustration_114360-2417.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Unlocking Potential with Knowledge and Skills!</h1>
      <p class="lead">For students, learning how to use CASE tools and analyze various models such as BPMA is crucial. With the right support, students can effectively explore different software models, improve their analytical skills, and gain hands-on experience in designing and optimizing systems. CASE tools not only automate tasks like design and testing but also empower students to understand the complexities of software architecture and business processes, preparing them for real-world challenges in software engineering.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Check out!</button>
      </div>
    </div>
  </div>
</div>


