<div class="mt-4">
  <h1 class="display-5 fw-bold lh-1 mb-3 text-center">Our Services</h1>
  <hr class="w-50 mx-auto border-dark-subtle">
</div>

<section class="py-3 py-md-5 py-xl-8">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="container-fluid">
          <div class="row gy-3 gy-md-4">
            <div class="col-12 col-md-6 col-lg-4">
              <app-servicescard
                [title]="'Business Process Analysis with Activity Diagrams'"
                [description]="'Visualize workflows for better understanding and Identify bottlenecks and optimize processes'">
              </app-servicescard>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <app-servicescard
                [title]="'Database Design Simplified with ER Modeling'"
                [description]="'Define entities, attributes, and relationships with efficient and scalable database design'">
              </app-servicescard>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <app-servicescard
                [title]="'System Modeling with UML Diagrams'"
                [description]="'Use UML diagrams such as Use Case, Class, and Sequence diagrams and Standardize system design for better clarity and structure'"
              ></app-servicescard>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <app-servicescard
                [title]="'Automated Code Generation'"
                [description]="'Create structured and detailed requirements and Improve communication between stakeholders'"
              ></app-servicescard>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <app-servicescard
                [title]="'Business Rule Validation & Decision Modeling'"
                [description]="'Define business rules using Decision Tables & BPMN and Ensure accuracy in business logic execution'"

              ></app-servicescard>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <app-servicescard
                [title]="'Software Requirement Specification (SRS) Documentation'"
                [description]="'Create structured and detailed requirements and Improve communication between stakeholders'"
              ></app-servicescard>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
