<div class="container mx-auto bg-white p-4 mt-4">
  <div class="w-full my-auto mt-12 mb-8">
    <div class="text-start">
      <p class="text-base font-normal text-grey-900">Welcome to Casetools.lk. By accessing or using our website, you agree to comply with and be bound by the following terms and conditions:</p>
      <br>
      <h2 class="text-base font-bold text-grey-900">1. Acceptance of Terms</h2>
      <p class="text-base font-normal text-grey-900">By accessing or using the services provided on our website, you agree to be bound by these Terms and Conditions, as well as any other legal notices published on the site.</p>
      <br>
      <h2 class="text-base font-bold text-grey-900">2. Use of the Website</h2>
      <p class="text-base font-normal text-grey-900">You are granted a non-exclusive, non-transferable, revocable license to use the website for lawful purposes. You agree not to misuse the website or engage in any activity that may harm it.</p>
      <br>
      <h2 class="text-base font-bold text-grey-900">3. Services</h2>
      <p class="text-base font-normal text-grey-900">We provide software design and analysis services using CASE tools, as outlined on our website. We reserve the right to modify, suspend, or discontinue any service at any time without prior notice.</p>
      <br>
      <h2 class="text-base font-bold text-grey-900">4. Payment and Billing</h2>
      <p class="text-base font-normal text-grey-900">If you purchase any services from us, you agree to provide accurate and complete payment information. All fees are non-refundable unless otherwise specified.</p>
      <br>
      <h2 class="text-base font-bold text-grey-900">5. Intellectual Property</h2>
      <p class="text-base font-normal text-grey-900">The content, features, and functionality of our website, including all text, images, logos, and software, are owned by Casetools.lk and protected by intellectual property laws. You may not use, copy, or distribute any content without our permission.</p>
      <br>
      <h2 class="text-base font-bold text-grey-900">6. Privacy</h2>
      <p class="text-base font-normal text-grey-900">Your use of our website is also governed by our Privacy Policy.</p>
      <br>
      <h2 class="text-base font-bold text-grey-900">7. Limitations of Liability</h2>
      <p class="text-base font-normal text-grey-900">We are not responsible for any damages or losses that may occur from using our website or services. This includes, but is not limited to, direct, indirect, incidental, or consequential damages.</p>
      <br>
      <h2 class="text-base font-bold text-grey-900">8. Indemnification</h2>
      <p class="text-base font-normal text-grey-900">You agree to indemnify and hold Casetools.lk harmless from any claims, damages, or expenses arising from your use of the website, including any violation of these Terms and Conditions.</p>
      <br>
      <h2 class="text-base font-bold text-grey-900">9. Governing Law</h2>
      <p class="text-base font-normal text-grey-900">These Terms and Conditions are governed by and construed in accordance with the laws of Government of Sri Lanka. Any disputes will be resolved in the appropriate courts within that jurisdiction.</p>
      <br>
      <h2 class="text-base font-bold text-grey-900">10. Changes to Terms</h2>
      <p class="text-base font-normal text-grey-900">We reserve the right to modify these Terms and Conditions at any time. Changes will be posted on this page, and the date of the most recent update will be noted at the top of the page.</p>
      <br>
    </div>
  </div>
</div>
<app-footer></app-footer>
